.panel {
    width: 20rem;
}

.input-text {
    font-size: 16px;
    margin-bottom: 0px;
}

.p-text {
    font-size: 16px;
    margin-bottom: 0px;
    
}

.timer-text {
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
}


.timerDisplay, .roundsDisplay, .restDisplay, .buttonPanel {
    text-align: center;
    background-color: lightblue;
}

.timerDisplay, .roundsDisplay, .restDisplay {
    padding-top: 10px;
}

.buttonPanel {
    padding-bottom: 10px;
}

.start {
    background-color: green;
    border: darkgreen;
    border-radius: 15px;
    border: white;
    padding: 5px 20px;
    color: white;
}

.start:hover {
    background-color: darkgreen;
    border: green;  
    cursor: pointer;
}

.start:active {
    background-color: grey;
    border: green;  
    cursor: pointer;
}

.pause-resume {
    background-color: orange;
    border: darkorange;
    border-radius: 15px;
    padding: 5px 10px;
    color: white;
    width: 5rem;
}

.pause-resume:hover {
    background-color: darkorange;
    border: orange;  
    cursor: pointer;
}

.pause-resume:active {
    background-color: grey;
    border: orange;  
    cursor: pointer;
}

.fastforward {
    background-color: darkviolet;
    border: purple;
    border-radius: 15px;
    padding: 5px 20px;
    color: white;
}

.fastforward:hover {
    background-color: purple;
    border: darkviolet;  
    cursor: pointer;
}

.fastforward:active {
    background-color: grey;
    border: darkviolet;  
    cursor: pointer;
}

.reset {
    background-color: red;
    border: darkred;
    border-radius: 15px;
    padding: 5px 20px;
    color: white;
    margin: 2px;
}

.reset:hover {
    background-color: darkred;
    border: red;  
    margin: 2px;
    cursor: pointer;
}

.reset:active {
    background-color: grey;
    border: red;  
    margin: 2px;
    cursor: pointer;
}